.card {
    width: 80%;
    min-height: 200px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: row;
    border: 2px solid var(text-muted);
    background: none;
    box-shadow: var(--shadow);
}

.aboutCaption {
    font-size: 1rem;
    text-align: left;
    height: 55%;
    margin-top: 1rem;
    color: var(--text);
}

.details {
    border: 1px solid var(--border);
    border-radius: 0px;
    background: var(--gradient);
    width: 70%;
    height: 20%;
    margin: 1rem auto;

}

.aboutTitle {
    font-family: "Poppins", sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: 400;
}

.column1 {
    align-content: center;
    width: 30%;
}
.aboutColumn {
    width: 70%;
    margin-left: 30px;
}

.profilePic {
    margin: auto 1rem;
    align-content: center;
    border-radius: 50%;
    width: 60vw;
    max-width: 150px;
    height: 60vw;
    max-height: 150px;
    filter:     
    drop-shadow(0 0 8px #176dce)
    drop-shadow(0 0 12px rgb(18, 128, 192))
    drop-shadow(0 0 20px rgb(22, 150, 224));
}

.label-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    width: 100%;
    justify-content: space-between;
}

.label {
    background-color: rgb(4, 33, 49);
    text-align: center;
    border-radius: 25px;
    height: 50px;
    width: 30%;
    font-size: 16px;
    align-content: center;
    border: 1px solid var(--border);
}