.logo {
    border-radius: 50%;
    scale: 1.60;
    margin-bottom: 2.25rem;
    margin-top: 4.0rem;
    filter:     
    drop-shadow(0 0 8px #ffd890)
    drop-shadow(0 0 12px rgb(255, 153, 0))
    drop-shadow(0 0 20px rgb(255, 179, 15));
}

h1 {
    font-size: 2.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.1;
    margin-bottom: 2.25rem;
}


button {
    background-color: transparent;
    cursor: pointer;
    padding: 0;

    width: 96px;
    height: 96px;
}

p {
    font-size: 1.25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 1.0rem;
    color: var(--text-color);
}

.appCard {
    max-width: 300px;
    max-height: 200px;
    border-radius: 25px;
    box-shadow: var(--shadow);
    background-color: var(--card-bg);
    padding: 1.0rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.appIcon {
    width: 100%;
    border-radius: 25px;
    box-shadow: var(--shadow);
    justify-content: center;
    margin: 0 auto;
}

.appIcon:hover {
    filter: drop-shadow(0 0 0.8em #ffd890);
    transform: scale(1.05);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.slide-down {
    opacity: 0;
    transform: translateY(-40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-down.active {
    opacity: 1;
    transform: translateY(0);
    max-height: 200px;
    width: 80%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 100px;
}